.home-section {
  height: 700px;
  background: linear-gradient(90deg, #d4f1ff,#d4e6ec, #ffffd0, #e0fbe1);
  clip-path: ellipse(150% 87% at 93% 13%);
}

button {
  background-color: #7de7c4;
  border: 1px solid #7de7c4;
  border-radius: 100px;
}

button:hover {
  background-color: #19d291;
  border-color: #19d291;
  color: white;
  cursor: pointer;
}

@media (max-width: 767px) {
  img.home-section-img {
    width: 90%
  }
}