.home-section {
  height: 700px;
  background: linear-gradient(90deg, #d4f1ff,#d4e6ec, #ffffd0, #e0fbe1);
  border-radius: 0 25% 0 25%;
}

.p-button {
  background-color: #10b981;
  border-color: #10b981;
  padding: 0.5rem 1rem;
  border-radius: 100px;
}