/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.min.css";
@font-face {
  font-family: "Lato";
  src: url(assets/upload/font/lato/Lato-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url(assets/upload/font/lato/Lato-Bold.ttf) format("truetype");
  font-weight: bold;
}
:root {
  --sidebar-width: 16rem;
  --default-color: #334155;
}
* {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  color: var(--default-color);
}
a {
  color: black;
  text-decoration: none;
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding-left: 1rem;
}
.active,
.active > i,
.active > span,
.active > div,
.active > p {
  color: #25c35f !important;
}
.container {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  height: fit-content;
}
.container-fluid {
  background-color: rgb(255, 255, 255);
}
.h-fixed {
  height: calc(100vh - 5rem);
}
.m-page-fixed {
  margin-left: calc(var(--sidebar-width) + 2rem) !important;
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0.7rem;
}
.p-sidebar .p-sidebar-header {
  display: none;
}
.p-sidebar-content {
  padding-top: 1.25rem !important;
}
.w-sidebar-fixed {
  width: calc(var(--sidebar-width));
}
.w-0 {
  width: 0%;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
