
h1{
    margin-bottom: 40px;
}

a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

button{
    background-color: #10B981;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.form{
    background-color: #fff;
    padding: 0 40px;
    height: 100%;
}

.ng-touched.ng-dirty::placeholder {
    color: red;
} 

small {
    margin-top: 1px;
    margin-bottom: 5px;
    display: block;
    font-size: 11px;
    color: red;
}

.p-inputgroup.ng-dirty{
    padding-bottom: 0px;
}
.p-inputgroup-addon {
    background-color: #10B981;
    i {
        color: #fff;
    }
}