.border-round-he {
	border-radius: 10%;
	display: inline-block;
	padding: 10px;
	transition: background-color 0.3s ease;
}
.border-round-he:hover {
	background-color: #f1f2f3;
	cursor: pointer;
}
.circle-he {
	border-radius: 50%;
	display: inline-block;
	padding: 10px;
	transition: background-color 0.3s ease;
}
.circle-he:hover {
	background-color: #f1f2f3;
	cursor: pointer;
}
.header-container {
	background-color: white;
}
.logo-image {
	filter: invert(34%) sepia(76%) saturate(568%) hue-rotate(112deg) brightness(140%) contrast(101%);
}
.logo-title {
	font-size: 1.3rem;
}
.pi {
	font-size: 1.1rem;
}
.mobile-icon {
	padding-right: 4rem;
	font-size: 14px;
	.pi {
		font-size: 14px;
	}
}